body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
    display: flex;
    background-color: rgb(40, 40, 51);
    justify-content: space-between;

}
.logo{
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

}

ul > li {
    list-style: none;
    justify-content: cenrer;
    align-items: cneter;

}

ul {
    display: flex;
    
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 25px;

}
li > a {
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 600;
}

a:hover{
    color: rgb(109, 56, 179);
}