* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: #282d35;
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100%;;
  padding-left: 55px;
  
}

.navbar > p {
  color: #57c3e1;
  font-size: 1.4rem;
  font-weight: 700;
}
header {
  height: 90px;
  background-color: #21222A;

}


main {
  padding: 50px;
}

main > h1 {
  font-size: 2rem;

}
.react-facts > li {
  max-width: 500px;
  padding-block: 10px;


}